<div *ngIf="!onboardingCompleted" class="w3-display-container" style="width: 100vw; height: 100vh;" [style.background-color]="currentOnboardingIndex === 0 ? '#baf3f2' : currentOnboardingIndex === 1 ? '#e85653' : '#f5a598'">
  <div class="w3-display-topmiddle w3-center">
    <img [src]="currentOnboardingIndex === 0 ? 'onboarding1.png' : currentOnboardingIndex === 1 ? 'onboarding2.png' : 'onboarding3.png'" height="380px">
    <p *ngIf="currentOnboardingIndex === 0" style="color: black; font-size: larger; font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;">
      <span style="font-weight: bold; font-size: large;">Benvenuto in AlertUp!</span><br>La tua comunità climatica a portata di mano è qui. Scopri in tempo reale cosa accade fuori. Condividi, collabora e resta al sicuro.
    </p>
    <p *ngIf="currentOnboardingIndex === 1" style="color: black; font-size: larger; font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;">
      Unisciti ad una rete di utenti che si coprono le spalle a vicenda, invia segnalazioni e ricevi notifiche personalizzate in base ai tuoi luoghi preferiti.
    </p>
    <p *ngIf="currentOnboardingIndex === 2" style="color: black; font-size: larger; font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;">
      Un semplice post per allerta grandine, un avviso di alta marea o di strada ghiacchiata. Il tuo contributo crea una comunità più consapevole e sicura per tutti. Insieme, facciamo la differenza.
    </p>
  </div>
  <svg class ="w3-display-bottommiddle" width="80" height="20" viewBox="0 0 80 20" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 20px;">
    <circle cx="10" cy="10" r="6" [attr.fill]="currentOnboardingIndex === 0? 'black' : 'gray'" [attr.stroke]="currentOnboardingIndex === 0? 'black' : 'none'" stroke-width="3"/>
    <circle cx="40" cy="10" r="6" [attr.fill]="currentOnboardingIndex === 1? 'black' : 'gray'" [attr.stroke]="currentOnboardingIndex === 1? 'black' : 'none'" stroke-width="3"/>
    <circle cx="70" cy="10" r="6" [attr.fill]="currentOnboardingIndex === 2? 'black' : 'gray'" [attr.stroke]="currentOnboardingIndex === 2? 'black' : 'none'" stroke-width="3"/>
  </svg>
  <button *ngIf="currentOnboardingIndex < 2" class="w3-button w3-border w3-circle w3-display-bottomright w3-white" style="height: 52px; width: 52px; margin-right: 32px; margin-bottom: 64px;" (click)="onboardingNext()"><span class="fas fa-angle-right w3-large"></span></button>
  <button *ngIf="currentOnboardingIndex === 2" class="w3-button w3-border w3-round-large w3-display-bottomright w3-white w3-padding-large" style="margin-right: 32px; margin-bottom: 64px;" (click)="completeOnboarding()">Inizia</button>
</div>
<div *ngIf="onboardingCompleted">
<!-- sidebar -->
  <div class="w3-sidebar w3-bar-block w3-animate-left" [class]="darkModeOn ? 'w3-black' : 'w3-light-gray'" style="width: 75%; z-index: 1001;" [style.display]="sidebarOpen ? 'block' : 'none'">
    <div class="w3-container" style="height: 60px;">
      <div class="w3-container w3-padding-small w3-display-topright" style="height: 60px;">
        <button class="w3-button w3-circle" style="height: 52px; width: 52px;" (click)="toggleSidebar()"><span class="fas fa-times w3-xlarge"></span></button>
      </div>
    </div>
    <div class="w3-bar-item w3-button" (click)="goToMaps()"><span class="fas fa-map-marked-alt w3-medium w3-margin-right"></span> Mappe</div>
    <div *ngIf="!userLoggedIn()" class="w3-bar-item w3-button" (click)="goToLogin()"><span class="fas fa-sign-in-alt w3-medium w3-margin-right"></span> Accedi</div>
    <div *ngIf="userLoggedIn()" class="w3-bar-item w3-button" (click)="goToAlertForm()"><span class="fas fa-exclamation-triangle w3-medium w3-margin-right"></span> Segnala emergenza</div>
    <div *ngIf="userLoggedIn()" class="w3-bar-item w3-button" (click)="goToLogout()"><span class="fas fa-sign-out-alt w3-medium w3-margin-right"></span> Esci</div>
    <div class="w3-bar-item w3-button" (click)="goToAboutUs()"><span class="fas fa-question-circle w3-medium w3-margin-right"></span> Chi siamo</div>
    <div class="w3-container" style="height: 60px;">
      <div class="w3-container w3-padding-small w3-display-bottomleft" style="height: 60px;">
        <button class="w3-button w3-circle" style="height: 52px; width: 52px;" (click)="goToGeneralSettings()"><span class="fas fa-cog w3-xlarge"></span></button>
      </div>
    </div>
    <div class="w3-container" style="height: 60px;">
      <div class="w3-container w3-padding-small w3-display-bottomright" style="height: 60px;">
        <button class="w3-button w3-circle" style="height: 52px; width: 52px;" (click)="toggleTheme()"><span class="fas fa-adjust w3-xlarge"></span></button>
      </div>
    </div>
  </div>

  <!-- global header -->
  <div class="w3-container w3-padding-small" [ngClass]="{ 'w3-black': darkModeOn, 'w3-light-gray': !darkModeOn, 'w3-opacity-max': sidebarOpen }" style="position: fixed; z-index: 1000; height: 60px; width: 100%;">
    <div class="w3-container w3-padding-small w3-display-left" style="height: 60px;">
      <button class="w3-button w3-circle" style="height: 52px; width: 52px;" (click)="toggleSidebar()"><span class="fas fa-bars w3-xlarge"></span></button>
    </div>
    <div class="w3-container w3-padding-large w3-display-middle" style="height: 60px;">
      <img src="logo.png" height="36" width="36">
    </div>
  </div>

  <!-- main content -->
  <div [ngClass]="{ 'w3-asphalt': darkModeOn, 'w3-white': !darkModeOn, 'w3-opacity-max': sidebarOpen }" style="display: flex; flex-direction: column; min-height: 100vh; padding-top: 60px;">
    <main class="w3-container w3-center" style="flex: 1;">
      <router-outlet></router-outlet>
    </main>
    <footer class="w3-container w3-center">
      <span style="font-size: 10px;">© 2025 AlertUp - Tutti i diritti riservati</span>
    </footer>
  </div>

  <!-- status message -->
  <div *ngIf="status.message !== ''" class="w3-container w3-center w3-padding-small w3-animate-opacity" [ngClass]="{ 'w3-success': status.success, 'w3-danger': !status.success }" style="position: fixed; top: 85vh; left: 50%; transform: translateX(-50%); z-index: 2000; width: 50vw;">{{ status.message }}</div>
</div>