<h3 style="font-weight: bold;">Chi siamo</h3><br>
<p>
    Vi diamo il benvenuto in AlertUp!<br>
    Siamo un team di tre giovani sviluppatori molto ambiziosi: Davide, Samuele e Hamza.
</p>
<br>
<strong>&#10095; Il Nostro Obiettivo</strong><br>
<p>
    La nostra app è nata dalla convinzione che una comunità informata e unita sia una comunità più resiliente e sicura.
    <br>
    Crediamo che il potere dell'osservazione diretta e della condivisione immediata possa fare la differenza: mentre i sistemi di allerta ufficiali sono fondamentali e insostituibili, spesso operano su larga scala e possono impiegare del tempo per diffondere le informazioni.
    <br><br>
    AlertUp mira a compensare proprio quel vuoto di tempo e dettaglio: chi vive in una certa zona conosce ogni strada e ogni sottopasso, vede il cielo cambiare e il livello del fiume salire minuto per minuto, e possiede un valore aggiunto prezioso. È un'intelligenza collettiva, distribuita sul territorio e attiva in tempo reale.
</p>
<br>
<strong>&#10095; Insieme Possiamo</strong><br>
<p>
    AlertUp si basa su un semplice ma potente principio: mettere in contatto diretto chi vive un evento climatico con chi si trova nelle vicinanze.
    <br><br>
    <u><em>Precisione Locale</em></u>: Una segnalazione con una foto e una descrizione precisa di un albero pericolante in una via specifica, ha un livello di dettaglio inestimabile.<br><br>
    <u><em>Consapevolezza Condivisa</em></u>: Vedere in tempo reale cosa sta accadendo pochi isolati più in là permette a tutti di prendere decisioni più consapevoli, come cambiare strada o mettere al riparo la propria auto.<br><br>
    <u><em>Senso di Comunità</em></u>: Una rete di utenti che si guardano le spalle a vicenda è la consapevolezza che, insieme, possiamo essere la prima linea di difesa per i nostri vicini e per noi stessi.
</p>
<br>
<p>Grazie per far parte di questa comunità.</p>
<p>
Il Team di AlertUp
</p>
<br>